@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f172a;
  color:white;
  scroll-behavior:smooth;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 100px;
  background:#0b1220;
  position:sticky;
  top:0;
  z-index:1000;
}

nav h2{
  color:#38bdf8;
  font-size:28px;
}

nav a{
  color:white;
  margin-left:30px;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

/* HERO SECTION */
.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:0 100px;
  background:linear-gradient(120deg,#0f172a,#1e293b,#0f172a);
}

.hero h1{
  font-size:64px;
  margin-bottom:15px;
}

.hero p{
  font-size:22px;
  color:#cbd5e1;
}

.hero button{
  margin-top:30px;
  padding:14px 30px;
  font-size:18px;
  background:#38bdf8;
  color:black;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
}

.hero button:hover{
  transform:translateY(-4px);
  box-shadow:0 12px 25px rgba(56,189,248,0.4);
}

/* GENERAL SECTIONS */
section{
  padding:100px;
}

/* HEADINGS */
h2{
  color:#38bdf8;
  font-size:36px;
  margin-bottom:20px;
}

/* ABOUT */
#about p{
  color:#cbd5e1;
  font-size:18px;
  line-height:1.8;
  max-width:800px;
}

/* PROJECTS */
.projects{
  background:linear-gradient(120deg,#0f172a,#1e293b,#0f172a);
  color:white;
}

.projects-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:30px;
  margin-top:40px;
}

.card{
  background:#1e293b;
  padding:30px;
  border-radius:12px;
  transition:0.3s ease;
}

.card h3{
  color:#38bdf8;
  margin-bottom:10px;
}

.card p{
  color:#cbd5e1;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 30px rgba(0,0,0,0.4);
}

/* CONTACT */
#contact p{
  color:#cbd5e1;
  font-size:18px;
  margin-top:10px;
}

/* RESPONSIVE */
@media(max-width:768px){
  nav{
    padding:20px 30px;
    flex-direction:column;
    gap:10px;
  }

  .hero{
    padding:30px;
  }

  section{
    padding:60px 30px;
  }

  .hero h1{
    font-size:40px;
  }

  h2{
    font-size:28px;
  }
}
